*{

}

header{
    background-color: #95d1e5;
    border-bottom: 3px solid dodgerblue;
    margin: 0;
    padding: 1%;
    font-family: Palatino Linotype;
}

footer{
    background-color: #b3d4fc;
    border-top: 2px solid dodgerblue;
    margin-top: 10%;
    padding: 1%;
    clear: both;
    position: relative;
    bottom: -20px;
}

.row{
    padding: 1%;
}

#createRecordButton{
    color: green;
    font-family: Palatino Linotype;
    border: 2px solid green;
    float: right;

}

#sort{
    border-bottom: 2px solid black;
}

#additionalInfo{
    display: none;
}

.scrolling{
    height:100px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow: auto;
    padding: 1%;
    margin: 1%;
}